processProquest.ini
vendor
logs
symlinks/*
.vscode
.phpunit.result.cache
.phpunit.cache
tests/files/*
!tests/files/.keep
!tests/files/*.zip
!tests/files/*.md
tests/reports/*
!tests/reports/.keep
.DS_Store